
html{
    scroll-behavior:smooth !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,footer, section{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

header, h1{

    font-size: 60px;
    color: beige;
    
}

header{
    background-color: #ff999b;
}

footer{
    background-color: #2bace2;
}

a:link{
    text-decoration: none;
}

.animation {
    height: 200vh;
    background-image: linear-gradient(

        to top,  #ff0808 0%, #ff999b 100%
        );
    position:relative;
    overflow: hidden;
}

.animation1 {
    height: 200vh;
    background-image: linear-gradient(
        to bottom, #ff0808 0%,  #ff0844 20%, #ffb199 100%

        );
    position:relative;
    overflow: hidden;
}

.animation2 {
    height: 200vh;
    background-image: linear-gradient(
        to bottom, #ffb199 0%,  #85e3ff 20%, #85e3ff 20% , #2bace2 100%

        );
    position:relative;
    overflow: hidden;
}


.me{
 position: absolute;
  z-index: 3;
  top: 0%;
  
}

.me2 {
    position: absolute;
     z-index: 3;
     top: 0%;
     
   }


.me3 {
    position: absolute;
     z-index: 3;
     top: 0%;
     margin-right: 30;     
   }

.trees1 {
    position: absolute;
    opacity: 20%;
    zoom: 1;
    z-index: 2;
    top: 2%;


}

.trees2{
    position: absolute;
     opacity: 20%;
     z-index: 1;
     zoom: 1;
     top: 5%;

}

.trees3{
    position: absolute;
     left: 70%; 
     opacity: 50%;
     zoom: 1;
     z-index: 4;
     top: 5%;

}

.trees4{
    position: absolute;
     right: 60%; 
     opacity: 50%;
     zoom: 1;
     z-index: 4;
     top: 5%;

}



.trees1{
    position: absolute;
    opacity: 20%;
    zoom: 1;
    z-index: 2;
    top: 2%;


}

.mountains3{
    position: absolute;
     opacity: 20%;
     z-index: 1;
     zoom: 1;
     top: 5%;

}

.mountains2{
    position: absolute;
     left: 70%; 
     opacity: 50%;
     zoom: 1.1;
     z-index: 4;
     top: 5%;

}

.mountains1{
    position: absolute;
     right: 60%;
     opacity: 50%;
     zoom: 1.2;
     z-index: 4;
     top: 5%;

}

.fish{
    position: absolute;
     right: 60%; 
     opacity: 50%;
     zoom: 1.2;
     top: 5%;
}
   
.fish2{
    position: absolute;
     right: 60%; 
     opacity: 50%;
     zoom: 1.2;
     top: 10%;
}

  
.floor{
    position: absolute;
     opacity: 50%;
     zoom: 1;
     top: 10%;   
}


.p1, .p2, .p3{
 color: beige;
 z-index: 5;
 height: 120vh;
 font-family: 'Montserrat', sans-serif;
 top: 0%;
}


.plants1{
    position: absolute;
     z-index: 4; 

}

.plants2{
    position: absolute;
     z-index: 4;
     top: 5%;
     opacity: 50%;
}


/* pulsating blob */ 

.blob {
	border-radius: 50%;
	margin: 20px;
	height: 100px;
	width: 100px;

	box-shadow: 0 0 0 0 #ff0808;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #ffffff;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}