@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,footer, section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

header h1{
    font-size: 60px;
    color: beige;
}

header{
    background-color: #40191C;
}


.animation {
    height: 400vh;
    background-image: linear-gradient(
        to top,
        #C30E0E 0%, 
        #1F1C1F 20%, 
        #821415 50%, 
        #40191C 100%
        );
    position:relative;
    overflow: hidden;
}

.me{
 /* height: 100x; */
 position: absolute;
 /* display: flex; */
  z-index: 4;
  top: 0%;
  
}

.trees1{
    /* height: 100x; */
    position: absolute;
    /* display: flex; */
     top: 0%;
    opacity: 20%;
    z-index: 3;

}

.trees2{
    /* height: 100x; */
    position: absolute;
    /* display: flex; */
     top: 0%;
     /* right: 50%; */
     opacity: 20%;
     z-index: 2;
}

.trees3{
    /* height: 100x; */
    position: absolute;
    /* display: flex; */
     /* bottom: 20%; */
      left: 80%; 
     opacity: 5%;
}

   



/* This is for the background cover to be the right size */
/* html{
    background: url(img/bavkground1.png) no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

/* the * targets all elements */
  /* *, *:before, *:after {
    box-sizing: inherit;
  } */



/* font */
/* body{
    font-family: 'Futura', sans-serif;
}

.me{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
} */
